{% extends "base.html" %}

{% block title %}
    Accounts
{% endblock title %}
{% block content %}
    <div>
        <h1>My Accounts</h1>
        {% comment %} <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <a href="{% url 'todo_item_create' %}">Create a new task</a>
        </p> {% endcomment %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for accounts in accounts.all %}
                    <tr>
                        <td>{{ accounts.name }}</td>
                        <td>{{ accounts.number }}</td>
                        <td>{{ accounts.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
