{% extends "base.html" %}

{% block title %}
    Expense Categories
{% endblock title %}
{% block content %}
    <div>
        <h1>My Expense Categories</h1>
        {% comment %} <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <a href="{% url 'todo_item_create' %}">Create a new task</a>
        </p> {% endcomment %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for categories in categories.all %}
                    <tr>
                        <td>{{ categories.name }}</td>
                        <td>{{ categories.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
