{% extends "base.html" %}

{% block title %}
    My Receipts
{% endblock title %}
{% block content %}
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipts in receipts.all %}
                <tr>
                    <td>{{ receipts.vendor }}</td>
                    <td>{{ receipts.total }}</td>
                    <td>{{ receipts.tax }}</td>
                    <td>{{ receipts.date|date:"m/j/y" }}</td>
                    <td>{{ receipts.category }}</td>
                    <td>{{ receipts.account }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
